<div class="container-fluid">
    <h1>Qual a importância da qualificação profissional no mercado de
        trabalho?</h1>
    <br>
    <p>
        Iniciar um curso de capacitação traz novas responsabilidades, já que,
        quando você inclui uma tarefa diferente na sua rotina, <br> é
        muito provável que ela te traga desafios. Saber administrar o seu
        tempo, cumprir com todas as atividades exigidas, buscar estímulos <br>
        para vencer o cansaço e estudar após um dia intenso de trabalho,
        superar dificuldades e absorver conhecimentos são alguns exemplos de
        desafios <br> diários que essa nova rotina pode trazer. <br>
        Sair da zona de conforto é sempre desafiador, mas é importante
        acreditar nos benefícios que essa decisão vai gerar e saber
        aproveitar as situações <br> para se tornar um profissional e um
        ser humano melhor. Embora muitas vezes pareça difícil, uma vida sem
        desafios pode nos deixar despreparados para<br> enfrentar
        condições adversas.
    </p>
    <hr>
</div>
<div class="container">
    <h2 class="subtitles">Áreas em Expansão</h2> <br> <hr>
    <div class="row">
        <div class="col-sm-4">
            <h3>Inteligência Artificial</h3>
            <img src="./assets/img/vagas/Artificial.jpg" alt="IA" style="width: 200px;" height="200px">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Data Science</h3>
            <img src="./assets/img/vagas/icon.jpg" alt="IA" style="width: 200px;" height="200px">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Contabilidade Digital</h3>
            <img src="./assets/img/vagas/contabilidade.jpg" alt="IA" style="width: 200px;" height="200px">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris...</p>
        </div>
    </div>